<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="Ajman.css" />
    <title> Ajman </title>
</head>

<body>
    <!------------------------------ NAVIGATION BAR ------------------------------>
    <header>
        <div class="mainHeader">
            <div class="Header flex">
                <h1><img class="Mono" src="img/traverseff.png" alt=""></h1>
                <img src="" />
                <div class="nav flex">
                    <a href="" class="anc">Things to do</a>
                    <a href="" class="anc">Virtual Experience</a>
                    <a href="" class="anc">New in UAE!</a>
                </div>
                <div class="Languages">
                    <p>Languages</p>
                </div>
            </div>
        </div>
    </header>

    <!------------------------------ CONTENT ------------------------------>
    <div class="hero-banner">
        <div>
            <div class="hero-content">
                <h1>AJMAN</h1>
                <p class="Para">Ajman's coastline is home to luxury hotels, each with their private patch of pristine
                    white sand.
                </p>

            </div>
        </div>
    </div>

    <!-- History -->
    <div class="History">
        Ajman History
        <p class="hispara">
            Al Bu Kharaiban Nuaimi rule in Ajman started in 1816, when Sheikh Rashid bin Humaid Al Nuaimi and fifty of
            his followers took the coastal settlement of Ajman from members of the Al Bu Shamis Nuaimi tribe in a short
            conflict. It wasn't until 1816 or 1817, however, that the Ajman fort finally fell to Rashid's followers and
            his rule was endorsed by the powerful Sheikh of neighbouring Sharjah and Ras Al Khaimah, Sheikh Sultan bin
            Saqr Al Qasimi.
            On 8 January 1820, following the sack of Ras Al Khaimah by a British force led by Sir W.G. Keir, Sultan bin
            Saqr signed the General Maritime Treaty with the United Kingdom on 4 February 1820, followed on 15 March by
            Rashid bin Humaid at Falaya Fort.
            An 1822 British maritime survey noted that Ajman had one of the best backwaters on the coast and was a small
            town with a single fortified building, the ruler's house. In common with many other coastal towns on what
            became the Trucial Coast, the population was mobile depending on the season – there were as many as 1,400 to
            1,700 men of the 'Mahamee' tribe living there during the pearl hunting season (April–September), many of
            whom would migrate to Al Buraimi in the date season. The survey notes that Ajman's ruler Rashid bin Ahmed
            considered his dominion independent of Emirate of Sharjah, but that Sharjah did not maintain that view even
            though it had no power over Ajman. The survey noted that the inhabitants of Ajman were 'mostly strict
            Wahhabis' and recorded the presence of the ruined village of Fasht down the shore from Ajman town, which is
            today the Fisht suburb of Sharjah city.



        </p>
    </div>

    <!----- TRENDING GAMES ----->
    <div class="container">
        <h1 id="trending-title">Explore More!</h1>
        <div class="grid">

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/uae-ajman-beaches.jpg" alt="AS1" />
                    <div class="card-content">
                        <h1 class="card-header">Ajman Beach</h1>
                        <p class="card-text">
                            Ajman's coastline is home to luxury hotels, each with their private patch of pristine white
                            sand.
                            Noted for some of the prettiest beaches in the United Arab Emirates, this is the place to
                            come if you're looking for serious relaxation time.
                            <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/natureajman.jpg" alt="AS1" />
                    <div class="card-content">
                        <h1 class="card-header">Al Zorah Nature Reserve </h1>
                        <p class="card-text">
                            The northern side of Ajman Creek is home to the new Al-Zorah coastal development, which
                            mixes luxury villa residential neighborhoods with beachfront hotel resorts.

                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/manamaajman.jpg" alt="AS2" />
                    <div class="card-content">
                        <h1 class="card-header">Ajman Exclaves</h1>
                        <p class="card-text">
                            The Hajar Mountain towns of Manama (72 kilometers east from Ajman city) and Masfut (127
                            kilometers southeast from Ajman city) are both exclaves of the Emirate of Ajman.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Ajmanmuseum.jpg" alt="AS3" />
                    <div class="card-content">
                        <h1 class="card-header">Ajman Museum</h1>
                        <p class="card-text">
                            Ferrari World in Abu Dhabi is the first Ferrari branded theme park in the world. The
                            amusement park in the capital city of United Arab Emirates has 37 record-breaking rides.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Ajmanmarina.jpg" alt="AS4" />
                    <div class="card-content">
                        <h1 class="card-header">Al Zorah</h1>
                        <p class="card-text">
                            Al Zorah is a 25-minute drive from Dubai International Airport and 20 minutes from Sharjah
                            International Airport. The development includes world-class hotels and resorts.

                            <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/jarah.jpg" alt="AS5" />
                    <div class="card-content">
                        <h1 class="card-header">Al Jarah Cultural Center</h1>
                        <p class="card-text">
                            Al Jarah Cultural Center is a place that will let you know about the cultural heritage of
                            United Arab Emirates.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!----- FOOTER ----->
        <footer>
            <div class="social-media">
                <p id="follow">Follow Us</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
            <p>&#169; Copyright Louvre Museum 2022</p>
        </footer>
</body>

</html>