<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="dubai.css" />
    <title> Dubai </title>
</head>

<body>
    <!------------------------------ NAVIGATION BAR ------------------------------>
    <header>
        <div class="mainHeader">
            <div class="Header flex">
                <h1><img class="Mono" src="img/traverseff.png" alt=""></h1>
              <img src="" />
              <div class="nav flex">
                <a href="" class="anc">Things to do</a>
                <a href="" class="anc">Virtual Experience</a>
                <a href="" class="anc">New in UAE!</a>
              </div>
              <div class="Languages">
                <p>Languages</p>
              </div>
            </div>
          </div>
    </header>

    <!------------------------------ CONTENT ------------------------------>
    <div class="hero-banner">
        <div>
            <div class="hero-content">
                <h1>DUBAI</h1>
                <p class="Para">
                    Dubai is a city that needs to be seen to be believed. Find out all you need to know about the place
                    of endless possibilities.
                    Discover the warm hospitality, rich culinary heritage and proud traditions that make up Dubai's
                    vibrant culture.
                </p>

            </div>
        </div>
    </div>

    <!-- History -->
    <div class="History">
        Dubai History
        <p class="hispara">
            Dubai History
            Within less than 300 years, Dubai has grown from small pearl fishing village into a
            modern metropolis withaskyline studded with skyscrapers.The story begins with the
            current rulers, the Al Maktoum family.
            In 1833,they led 800 members of the Bani Yas tribe to what is now Dubai Creek,where
            they set up home.The creek wasanatural harbour and during the 19th century,it
            served as Dubai's commercial engine,establishing itself asacentre for fishing,pearling
            and maritime trade. Old dhows(traditional sailing boats)still ply the routes between
            Dubai,India and beyond.
            By the turn of the 20th century, Dubai had established itself asasuccessful port.The
            souk on the Deira side of the Creek was the largest on the coast with 350 shops,
            attractingasteady stream of visitors and businessmen. By the 1930s,the city's
            population was nearly 20,000,aquarter of whom were expatriates.
            In the 1950s the creek began to silt, so ruler Sheikh Rashid bin Saeed Al Maktoum
            decided to have the waterway dredged. It was ambitious and costly project but one that
            proved visionary thanks to the vast increase of cargo traffic asaresult.
            When oil was discovered in 1966,Sheikh Rashid turned the petro-dollars into building
            projects,and also used it to kick-start the tourist industry. In 1971,Dubai became part
            of the United Arab Emirates following the British withdrawal.In 1972,the project was
            completed when the final emirate,Ras Al Khaimah,joined the fledgling country.
            Even though the visionary Sheikh Rashid died in 2006,and was succeeded by his son
            Sheikh Mohammed,Dubai and the United Arab Emirates have continued to flourish.
            The city state sufferedasetback in 2008 when recession hit and it had to be bailed out
            by Abu Dhabi,but today Dubai is back on track and the cranes that dot its skyline are as
            busy as ever.



        </p>
    </div>

    <!----- TRENDING GAMES ----->
    <div class="container">
        <h1 id="trending-title">Explore More!</h1>
        <div class="grid">

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Altantis.jpg" alt="AS" />
                    <div class="card-content">
                        <h1 class="card-header">Atlantis</h1>
                        <p class="card-text">
                            You can expect endless entertainment with top-rated dining outlets, unique aquarium
                            experiences and outstanding architectural feats at this world-famous luxury hotel.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Burjarab.jpg" alt="AS1" />
                    <div class="card-content">
                        <h1 class="card-header">Burj Al Arab</h1>
                        <p class="card-text">
                            The Burj Al Arab is a five-star hotel, the highest official ranking. While the hotel is
                            sometimes erroneously described as "the world's only 'seven-star' hotel".

                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Khalifah.jpg" alt="AS2" />
                    <div class="card-content">
                        <h1 class="card-header">Burj Khalifah</h1>
                        <p class="card-text">
                            At over 828 metres (2,716.5 feet) and more than 160 stories, Burj Khalifa holds the
                            following records: Tallest building in the world. Tallest free-standing structure in the
                            world.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/lovelake.jpg" alt="AS3" />
                    <div class="card-content">
                        <h1 class="card-header">Love Lake</h1>
                        <p class="card-text">
                            There is love everywhere, in the air, on top of the trees, stones, walls, and even water.
                            There is a remarkable collection of flowers and plants to make it even better.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Museum_of_the_future,_Dubai.jpeg" alt="AS4" />
                    <div class="card-content">
                        <h1 class="card-header">Museum of the Future</h1>
                        <p class="card-text">
                            The Museum of the Future is an exhibition space for innovative and futuristic ideologies,
                            services, and products. Located in the Financial District of Dubai, UAE.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Quranic-Park-Dubai-Entrance-1024x640.jpg" alt="AS5" />
                    <div class="card-content">
                        <h1 class="card-header">Quranic Park</h1>
                        <p class="card-text">
                            Dubai's Quranic Park offers wonderful insights into the Holy Quran, enhancing awareness of
                            the Islamic values of peace, love and tolerance.


                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!----- FOOTER ----->
        <footer>
            <div class="social-media">
                <p id="follow">Follow Us</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
            <p>&#169; Copyright Louvre Museum 2022</p>
        </footer>
</body>

</html>