<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="fujairah.css" />
    <title> Fujairah </title>
</head>

<body>
    <!------------------------------ NAVIGATION BAR ------------------------------>
    <header>
        <div class="mainHeader">
            <div class="Header flex">
                <h1><img class="Mono" src="img/traverseff.png" alt=""></h1>
                <img src="" />
                <div class="nav flex">
                    <a href="" class="anc">Things to do</a>
                    <a href="" class="anc">Virtual Experience</a>
                    <a href="" class="anc">New in UAE!</a>
                </div>
                <div class="Languages">
                    <p>Languages</p>
                </div>
            </div>
        </div>
    </header>

    <!------------------------------ CONTENT ------------------------------>
    <div class="hero-banner">
        <div>
            <div class="hero-content">
                <h1>FUJAIRAH</h1>
                <p class="Para">Fujairah is known for its beaches and the solitude and relaxation they present. Offshore
                    activities include scuba diving and snorkelling and there are many beautiful sites for these
                    available in the area.
                </p>

            </div>
        </div>
    </div>

    <!-- History -->
    <div class="History">
        Fujairah History
        <p class="hispara">
            The Emirate of Fujairah, dominated by the Sharqiyin tribe, sits at the mouth of the important trade route,
            the Wadi Ham (which is guarded by the Sharqiyin Al Bithnah Fort), through the mountains to the interior and
            the Persian Gulf Coast. Known as the Shamaliyah, the east coast of what is now the UAE was subject to Muscat
            until 1850, when it was annexed by Al Qasimi of Sharjah, in an agreement made between Sheikh Sultan bin Saqr
            Al Qasimi and the Sultan of Muscat. The Shamaliyah was governed by Al-Qasimi Wali at Kalba although
            frequently seceded and in 1901 Sheikh Hamad bin Abdullah Al Sharqi, chief of the Sharqiyin, declared
            independence from Sharjah. This was recognized by a number of the Trucial Sheikhs and also by Muscat, but
            not the British, who were frequently provoked by the independently minded Ruler. At this time, The Emirate
            of Fujairah consisted of some 150 houses and 3,000 date palms and its people lived mainly through pearling
            and date cultivation. Since the absorption of Kalba by Sharjah in 1952, the Shamaliyah is shared by the
            emirates of Fujairah and Sharjah.
            In 1952, The Emirate of Fujairah entered into treaty relations with Britain, becoming the last of the
            emirates to join the Trucial States. Having withheld this recognition for over fifty years, the British
            government only granted it because the oil exploration company Petroleum Concessions Limited (PCL) needed to
            sign a concession with a recognized ruler. On 2 December 1971, The Emirate of Fujairah joined the United
            Arab Emirates.

        </p>
    </div>

    <!----- TRENDING GAMES ----->
    <div class="container">
        <h1 id="trending-title">Explore More!</h1>
        <div class="grid">

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Fjfort.jpg" />
                    <div class="card-content">
                        <h1 class="card-header">Fujairah Fort</h1>
                        <p class="card-text">
                            Fujairah Fort is a fort in the city of Fujairah, United Arab Emirates. Dating back to the
                            16th century, it is the among the oldest as well as the largest castles in the country. It
                            is noted for playing significant roles.
                            <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Umbrea.jpg" alt="AS1" />
                    <div class="card-content">
                        <h1 class="card-header">Umbrella Beach </h1>
                        <p class="card-text">
                            Umbrella Beach is a newly developed seafront complex consisting of, restaurants, coffee
                            shops, food trucks, and more.Come to Umbrella Beach to be a place for everyone!. It is the
                            best place to visit.

                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/manamaajman.jpg" alt="AS2" />
                    <div class="card-content">
                        <h1 class="card-header">Fujairah Museum</h1>
                        <p class="card-text">
                            Fujairah Museum is one of the most popular attractions in the emirate. Each year, from
                            October to March, the museum hosts thousands of visitors every week. Great place to visit.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/fjheritage.jpg" alt="AS3" />
                    <div class="card-content">
                        <h1 class="card-header">Fujairah Heritage Village</h1>
                        <p class="card-text">
                            Fujairah Heritage Village is a heritage-based tourist attraction located close to Madhab
                            Spring Park and Madhab Palaces.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Adventure Park Fj.jpg" alt="AS4" />
                    <div class="card-content">
                        <h1 class="card-header">Adventure Park</h1>
                        <p class="card-text">
                            The number one urban adventure park in Fujairah. With expertly-designed bike and hiking
                            trails spread out over 20 hectares. Best adventurous place in Fujairah.
                            <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Cornichekalba.jpg" alt="AS5" />
                    <div class="card-content">
                        <h1 class="card-header">Kalba Corniche Park</h1>
                        <p class="card-text">
                            This is well maintained beach with park.There are only few beaches like this around norther
                            part of emirates.Head over to Kalba Corniche Park,
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!----- FOOTER ----->
        <footer>
            <div class="social-media">
                <p id="follow">Follow Us</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
            <p>&#169; Copyright Louvre Museum 2022</p>
        </footer>
</body>

</html>