@font-face {
  font-family: enge-etienne;
  src: url(fonts/OPTIEngeEtienne.otf);
}

/*-------------------------------------- VARIABLES --------------------------------------*/
.Para {
  color: #ffffff;
  font-family: Dubai;
}

.Mono {
  width: 340px;
  height: auto;
}

.anc {
  font-size: 25px;
  outline: 5px dotted black;
  color: #000000;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 20px;
  padding-top: 6px;
  width: 250px;
  height: 40px;
  font-weight: bold;
  text-align: center;
}

.Languages {
  font-size: 25px;
  color: #000000;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 20px;
  padding-top: 6px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  text-align: center;
}

.mainHeader {
  color: white;
  background-size: cover;
  background: rgba(194, 194, 194, 0.428);
  color: black;
  background-repeat: no-repeat;
  background-position: 10px 10px 20px;
  position: absolute;
  opacity: 1;
  -webkit-box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.539);
          box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.539);
  width: 100%;
  z-index: 100;
}

* {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.Header {
  height: 13vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.History {
  width: 100%;
  background: #4436c7;
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, #4436c7), color-stop(74%, #00e0ff));
  background: linear-gradient(90deg, #4436c7 33%, #00e0ff 74%);
  font-size: 60px;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
  font-family: Dubai;
}

.hispara {
  font-size: 20px;
  color: black;
  padding-top: 20px;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 40px;
  text-align: justify;
  font-weight: 400;
}

.logo > img {
  width: auto;
  height: 90px;
  padding-left: 50px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #1a1a1a;
}

/*-------------------------------------- NAVIGATION BAR --------------------------------------*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 11.5vh;
  padding: 1em;
  color: #000000;
  font-family: "Montserrat";
}

nav img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  margin-right: 0.5em;
  width: 160px;
  padding: 0.125em;
  height: 100%;
}

nav ul {
  display: inline-block;
  margin: auto 0;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    top: 5em;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    top: 5em;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

nav ul li {
  display: inline-block;
  margin: 0 0.125em;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  nav ul li {
    display: block;
    margin: 3.125em 0;
    line-height: 1.875em;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  nav ul li {
    display: block;
    margin: 3.125em 0;
    line-height: 1.875em;
  }
}

nav ul li a {
  position: relative;
  color: #000000;
  font-size: 1rem;
  padding: 0.3125em 0.625em;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #006666;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

nav ul li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

/*---------- HAMBURGER MENU ----------*/
/*-------------------------------------- CONTENT --------------------------------------*/
/*---------- HERO ----------*/
.hero-banner {
  position: relative;
  background: url(img/AS.jpg) no-repeat center;
  background-size: cover;
  height: calc(100vh - -50vh);
  overflow: hidden;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero-banner {
    background: url(img/AS.jpg) no-repeat center;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .hero-banner {
    background: url(img/AS.jpg) no-repeat center;
    background-size: 100%;
  }
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: enge-etienne;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero-content {
    top: 70%;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .hero-content {
    top: 75%;
  }
}

.hero-content h1 {
  font-weight: 400;
  font-size: 10rem;
  letter-spacing: 5px;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero-content h1 {
    font-weight: 500;
    font-size: 4rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .hero-content h1 {
    font-weight: 500;
    font-size: 4.7rem;
  }
}

.hero-content p {
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero-content p {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .hero-content p {
    font-size: 2rem;
  }
}

.hero-content .btn {
  display: block;
  font-family: "Montserrat";
  font-size: 1rem;
  margin: 1em;
  padding: 1.25em 3.125em;
  position: relative;
  text-align: center;
  background: #0099ff;
  color: #ffffff;
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero-content .btn {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .hero-content .btn {
    font-size: 0.9rem;
  }
}

.hero-content .btn::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #0099ff;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.hero-content .btn::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #0099ff;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.hero-content .btn:hover {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

.hero-content .btn:hover::after {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

/*---------- GAMES ----------*/
#trending-title {
  color: #000000;
  font-size: 5rem;
  font-family: "Arno Pro";
  text-align: center;
  padding: 0.5em;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  #trending-title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  #trending-title {
    font-size: 4rem;
  }
}

.trending-games .games h2 {
  color: #ffffff;
  margin: 0.5em 0 0;
  font-family: "Montserrat";
  font-weight: 1200;
}

.trending-games .games .game-desc {
  font-weight: 500;
  font-size: 1.05rem;
  font-family: "Nunito Sans";
}

.trending-games .games .purchase-btn {
  background-color: #000000;
  margin-top: 1.5em;
  padding: 0.5em 1.1em;
  border: 0;
  border-radius: 50px;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Montserrat";
  font-size: 1rem;
  cursor: pointer;
}

.game-banner {
  width: 100%;
}

.container {
  background-color: #ffffff;
  padding: 1.5em;
  margin: 0 auto;
}

.container .trending-games {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .container .trending-games {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .container .trending-games {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.container .trending-games .games {
  background-color: #61dafb;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 2px 4px rgba(46, 49, 49, 0.4), -2px -2px 4px rgba(46, 49, 49, 0.1);
          box-shadow: 2px 2px 4px rgba(46, 49, 49, 0.4), -2px -2px 4px rgba(46, 49, 49, 0.1);
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*---------- FOOTER ----------*/
footer {
  font-family: "Montserrat";
  background-color: #000000;
  text-align: center;
  padding: 1.25em 0;
}

footer p {
  margin: 0.5em;
  color: #ffffff;
}

footer .social-media #follow {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

footer .social-media a {
  font-size: 1.25rem;
  width: 2.8125em;
  height: 2.8125em;
  line-height: 2.5em;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 3px 5px rgba(255, 255, 255, 0.9);
          box-shadow: 0 3px 5px rgba(255, 255, 255, 0.9);
  margin: 1em;
  color: #ffffff;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.grid-item:hover {
  -webkit-transform: translateY(-0.5%);
          transform: translateY(-0.5%);
  -webkit-box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  text-align: justify;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }
  .grid {
    grid-gap: 3rem;
  }
}
/*# sourceMappingURL=Rak.css.map */