<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="Rak.css" />
    <title> RAS AL KHAIMAH </title>
</head>

<body>
    <!------------------------------ NAVIGATION BAR ------------------------------>
    <header>
        <div class="mainHeader">
            <div class="Header flex">
                <h1><img class="Mono" src="img/traverseff.png" alt=""></h1>
              <img src="" />
              <div class="nav flex">
                <a href="" class="anc">Things to do</a>
                <a href="" class="anc">Virtual Experience</a>
                <a href="" class="anc">New in UAE!</a>
              </div>
              <div class="Languages">
                <p>Languages</p>
              </div>
            </div>
          </div>
    </header>

    <!------------------------------ CONTENT ------------------------------>
    <div class="hero-banner">
        <div>
            <div class="hero-content">
                <h1>RAS AL KHAIMAH</h1>
                <p class="Para">
                    A haven of year-round sunshine, the Emirate features pristine beaches, lush mangrove trees and
                    terracotta dunes, as well as fertile, green oases and the dramatic, awe-inspiring vistas of the
                    majestic Hajjar mountains, including the UAE’s highest mountain peak.
                </p>

            </div>
        </div>
    </div>
    
    <!-- History -->
    <div class="History">
       Ras Al Khaimah History
        <p class="hispara">
            The northern area of the city today known as Ras Al Khaimah was previously the location of the important
            Islamic era settlement and port of Julfar. Ras Al Khaimah has been the site of continuous human habitation
            for 7,000 years, one of the few places in the country and the world where this is the case.
            Archaeological evidence has demonstrated that the settlement known as Julfar shifted location over time as
            harbour channels silted up. Excavations of a sizable tell, which revealed remnants of a Sassanid era
            fortification, indicate that early Julfar was located in the north of the present city of Ras Al Khaimah,
            not far from other sites of historical and archaeological interest such as the Pre-Islamic fort, 'Sheba's
            Palace' (Shimal Fort).
            One of Ras Al Khaimah's most celebrated sons, Ibn Majid, was a hugely influential seaman, navigator and
            cartographer, and there is evidence in his writing that the town he came from was at that time known as Ras
            Al Khaimah, that town having eclipsed Julfar as the principal port and settlement of the Shimal coast.
            In the early 18th century, the Qawasim (singular Al Qasimi) established themselves in Ras Al Khaimah and
            Sharjah on the Arabian Peninsula, growing to become a significant maritime force with holdings on both the
            Persian and Arabian coasts that frequently came into conflict with British flagged shipping.
            In the aftermath of a series of attacks against shipping sailing under Omani flags and following 1809
            monsoon season, the British mounted the Persian Gulf campaign of 1809 against Ras Al Khaimah, in which the
            Al Qasimi fleet was largely destroyed. The British operation continued to Lingeh on the Persian coast which
            was, like the Greater and Lesser Tunbs islands, administered by the Al Qasimi.
            By the morning of 14 November, the military expedition was over and the British forces returned to their
            ships, having suffered light casualties of five killed and 34 wounded. Arab losses are unknown, but were
            probably significant, while the damage done to the Al Qasimi fleets was severe: a significant portion of
            their vessels had been destroyed.
            
        </p>
    </div>

    <!----- TRENDING GAMES ----->
    <div class="container">
        <h1 id="trending-title">Explore More!</h1>
        <div class="grid">

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/AS.jpg" alt="AS" />
                    <div class="card-content">
                        <h1 class="card-header">Jebel Jais</h1>
                        <p class="card-text">
                            Jebel Jais in Ras Al Khaimah rests at 1,934 metres above
                            sea level and is the highest peak in the UAE.
                            The mountain offers stunning sunrise and sunset views.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/AS1.jpg" alt="AS1" />
                    <div class="card-content">
                        <h1 class="card-header">Jazirat Al Hamra</h1>
                        <p class="card-text">
                            Al Jazirah Al Hamra is a town to the south of the city of Ras Al Khaimah in the United Arab
                            Emirates.
                            There is a collection of abandoned houses and other buildings.

                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/AS2.jpg" alt="AS2" />
                    <div class="card-content">
                        <h1 class="card-header">RAK Museum</h1>
                        <p class="card-text">
                            Once served as the residence of the former ruler until 1960s,
                            Ras Al-Khaimah Museum is a Pandora Box of historical wonders of the emirate.
                            The museum exhibits a vast.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/AS3.jpg" alt="AS3" />
                    <div class="card-content">
                        <h1 class="card-header">Dhayah Fort</h1>
                        <p class="card-text">
                            Established in the early 19th century, Dhayah Fort is an ancient building located at a
                            strategic position as a defensive military tower. Made out of mud and brick, this fort has
                            served.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/AS4.jpg" alt="AS4" />
                    <div class="card-content">
                        <h1 class="card-header">Wadi Shawka</h1>
                        <p class="card-text">
                            Wadi Shawka is a popular hiking destination in Ras-al-Khaimah and is considered to be an
                            exploration
                            hike because the trail offers an all-in-one experience like off-road drives,
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/AS5.jpg" alt="AS5" />
                    <div class="card-content">
                        <h1 class="card-header">Iceland Water Park</h1>
                        <p class="card-text">
                            Iceland Water Park is UAE's first ice-themed water park and has a wide range of high-speed
                            slides
                            which are suitable for all age groups. It is the largest waterpark in UAE.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!----- FOOTER ----->
        <footer>
            <div class="social-media">
                <p id="follow">Follow Us</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
            <p>&#169; Copyright Louvre Museum 2022</p>
        </footer>
</body>

</html>