<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="sharjah.css" />
    <title> Sharjah </title>
</head>

<body>
    <!------------------------------ NAVIGATION BAR ------------------------------>
    <header>
        <div class="mainHeader">
            <div class="Header flex">
                <h1><img class="Mono" src="img/traverseff.png" alt=""></h1>
              <img src="" />
              <div class="nav flex">
                <a href="" class="anc">Things to do</a>
                <a href="" class="anc">Virtual Experience</a>
                <a href="" class="anc">New in UAE!</a>
              </div>
              <div class="Languages">
                <p>Languages</p>
              </div>
            </div>
          </div>
    </header>

    <!------------------------------ CONTENT ------------------------------>
    <div class="hero-banner">
        <div>
            <div class="hero-content">
                <h1>SHARJAH</h1>
                <p class="Para">
                    Sharjah is the third largest emirate in the UAE, its largest city and its most family-friendly
                    destination. Experience a Sharjah museum, a desert safari and a Sharjah beach the emirate offers
                    things to do for everyone.
                </p>

            </div>
        </div>
    </div>
    <div class="History">
        Sharjah History
        <p class="hispara">
            Human settlement in the area covered by the emirate has existed for over 120,000 years, with significant
            finds made of early axes and stone tools as well as Copper and Iron Age implements in Al Dhaid, Al
            Thuqeibah, Mileiha, Tell Abraq, Muwailah, Al Madam and Jebel Faya.Archaeological finds in the Mleiha area
            point to human habitation consistent with the spread of humanity from Africa to the wider world, evidenced
            by finds displayed at the Mleiha Archaeological Centre.
            Historically the emirate was one of the wealthiest towns in the region.
            Around 1727, Al Qasimi clan took control of Sharjah and declared the polity independent.
            The first in a long series of maritime skirmishes between the Al Qasimi and British vessels took place in
            1797, when the British-flagged snow the Bassein was seized and released two days later. The cruiser Viper
            was subsequently attacked off Bushire. The Al Qasimi leader, Saqr bin Rashid Al Qasimi, protested innocence
            in both cases.
            A period of great instability followed along the coast, with a number of actions between British and Al
            Qasimi vessels alongside various changes of leadership and allegiances between the Rulers of Ras Al Khaimah,
            Ajman and Sharjah with Sheikh Sultan bin Saqr Al Qasimi claiming sovereignty over 'all the Joasmee ports' in
            1823, a claim recognised by the British at the time.

        </p>
    </div>

    <!----- TRENDING GAMES ----->
    <div class="container">
        <h1 id="trending-title">Explore More!</h1>
        <div class="grid">

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="img/sh1.jpg" alt="AS" />
                    <div class="card-content">
                        <h1 class="card-header">Al Qasba</h1>
                        <p class="card-text">
                            Located right at the heart of Sharjah, Al Qasba is the perfect place to relax and spend some
                            quality time with your kids and family.The city is a centre for culture.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="img/sh2.jpg" alt="AS1" />
                    <div class="card-content">
                        <h1 class="card-header">
                            Sharjah Aquarium
                        </h1>
                        <p class="card-text">
                            One of the most beautiful places in Sharjah is the Sharjah Aquarium where you can visit with
                            your family and enjoy a wide range of marine life.

                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="img/sh3.jpg" alt="AS2" />
                    <div class="card-content">
                        <h1 class="card-header">Sharjah Museum</h1>
                        <p class="card-text">
                            Dive into the roots of Arab and Islamic culture at the massive and beautiful Sharjah Museum
                            of Islamic Civilization. Visit this mesmerizing place to learn about the rituals of Islam.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/sh4.jpg" alt="AS3" />
                    <div class="card-content">
                        <h1 class="card-header">Sharjah Arts Museum</h1>
                        <p class="card-text">
                            Located in the heart of Sharjah, the Sharjah Arts Museum is one of the most exciting places
                            to visit in Sharjah as it houses.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/sh5.jpg" alt="AS4" />
                    <div class="card-content">
                        <h1 class="card-header">Al Majaz Waterfront</h1>
                        <p class="card-text">
                            Enjoy your beautiful evening while strolling inside the massive and amazing Al Majaz
                            Waterfront. It is one of the best places to visit in Sharjah.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/sh6.jpg" alt="AS5" />
                    <div class="card-content">
                        <h1 class="card-header">Sharjah National Park</h1>
                        <p class="card-text">
                            Spread over a humongous area of around 630000 sq meters, Sharjah Park is one of the tourist
                            attractions here. One of the most amazing.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>

        </div>
        <p>&#169; Copyright Louvre Museum 2022</p>
        </footer>
</body>

</html>