<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="Ummalquwain.css" />
    <title> Umm al Quwain </title>
</head>

<body>
    <!------------------------------ NAVIGATION BAR ------------------------------>
    <header>
        <div class="mainHeader">
            <div class="Header flex">
                <h1><img class="Mono" src="img/traverseff.png" alt=""></h1>
                <img src="" />
                <div class="nav flex">
                    <a href="" class="anc">Things to do</a>
                    <a href="" class="anc">Virtual Experience</a>
                    <a href="" class="anc">New in UAE!</a>
                </div>
                <div class="Languages">
                    <p>Languages</p>
                </div>
            </div>
        </div>
    </header>

    <!------------------------------ CONTENT ------------------------------>
    <div class="hero-banner">
        <div>
            <div class="hero-content">
                <h1>UMM AL QUWAIN</h1>
                <p class="Para">
                    Umm Al-Quwain is filled with natural beauty and manmade tourist attractions, drawing many sightseers
                    and tourists from bigger regions like Dubai.
                </p>

            </div>
        </div>
    </div>
    <div class="History">
        Umm al Quwain History
        <p class="hispara">

            The Emirate of Umm Al Quwain holds significant archaeological interest, with major finds at both Tell Abraq
            and Ed-Dur pointing to significant Ancient Near Eastern Cities. Arrowheads and other polished flint tools
            have been unearthed in various sites across the UAE while pieces of Ubaid Age pottery have been unearthed
            along the shores of the emirate. All evidence obtained so far indicate that contact with Mesopotamia existed
            as early as the 5th millennium BC, as an indigenous ceramic industry, did not emerge until the 3rd century
            BC.
            Finds at both Tell Abraq and Ed-Dur show habitation in the area throughout the Bronze Age, from the Hafit
            period, through the Umm Al Nar period and the later Wadi Suq and Iron I, II and III ages. Finds also link
            Ed-Dur with the inland settlement of Mleiha, especially distinctive burials of animals with their heads
            turned back on their bodies. Significant trading links with both the western Sumerian culture and the
            eastern Indus Valley culture are displayed at these sites, with the semi-nomadic Magan people smelting
            bronze mined in the Hajar Mountains and then shipping the smelted ore.
            Macedonian coinage unearthed at Ed-Dur dates back to Alexander the Great, while hundreds of coins have been
            found bearing the name of Abi'el. In March 2019, 15 tombs, bronze statues, settlement remains, jewellery and
            pottery, dating back to the 1st century CE, were unearthed here. It is thought Ed-Dur is the site of Omana,
            mentioned by both Pliny and Strabo as an important town in the Lower Persian Gulf.

        </p>
    </div>

    <!----- TRENDING GAMES ----->
    <div class="container">
        <h1 id="trending-title">Explore More!</h1>
        <div class="grid">

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="img/ummbeach.jpg" alt="AS" />
                    <div class="card-content">
                        <h1 class="card-header">Umm al Quwain Beach</h1>
                        <p class="card-text">
                            Umm Al-Quwain's main beach runs along the western rim of the emirate's thin peninsula. Among
                            Dubai residents, the scattering of resorts and hotels here are known for their good-value
                            room rates.
                            <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="img/forrt.jpg" alt="AS1" />
                    <div class="card-content">
                        <h1 class="card-header">
                            Umm Al-Quwain Fort and Museum
                        </h1>
                        <p class="card-text">
                            Umm Al-Quwain's Al-Ali Fort, built in 1768, once guarded the entrance to the old town by
                            overseeing both the sea and the creek. The facade, with its two rounded towers has been well
                            restored.

                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="img/seneyah.jpg" alt="AS2" />
                    <div class="card-content">
                        <h1 class="card-header">Seneyah Island</h1>
                        <p class="card-text">
                            Beautiful Seneyah Island, where Al Qaram trees (native to the United Arab Emirates) grow, is
                            the largest of the island group and makes for a great nature escape from the hustle and
                            bustle of the UAE's cities.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/CAmelrace.jpg" alt="AS3" />
                    <div class="card-content">
                        <h1 class="card-header">Camel Race</h1>
                        <p class="card-text">
                            Camel racing is the UAE's national sport. For a morning at the races, head out to Umm
                            Al-Quwain's camel racing track in Al Labsa (29 kilometers southeast of Umm Al-Quwain city).
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Dreamland-Aqua-Park.jpg" alt="AS4" />
                    <div class="card-content">
                        <h1 class="card-header">Dreamland Aqua Park</h1>
                        <p class="card-text">
                            Umm Al Quwain Dreamland is the largest family water park in the region with over 250,000
                            square meters expanse of lush, green, landscaped gardens. Enjoy More Than 40 Rides.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="./img/Barracuda.jpg" alt="AS5" />
                    <div class="card-content">
                        <h1 class="card-header">Barracuda Beach Resort</h1>
                        <p class="card-text">
                            Set on a beach along the Gulf, this laid-back hotel is 20 minutes’ walk from Dreamland Aqua
                            Park and 65 km from Dubai International Airport.
                        </p>
                        <button class="card-btn">Visit <span>&rarr;</span></button>
                    </div>
                </div>
            </div>

        </div>
        <p>&#169; Copyright Louvre Museum 2022</p>
        </footer>
</body>

</html>