.MapWrapper {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: 0px -65px;
    background-repeat: no-repeat;
    background-image: url("https://www.dropbox.com/s/z5jmwqyn8jin1a7/white-tailed-eagle-2015098.jpg?raw=1");
    
}
.mapHover{
    transition: width .3s ease-out;
    width: 55%;

}
.mapHover:hover{
    /* background: aqua; */
    /* display:none; */
    width: 100%;
    transition: width .5s ease-in;
    /* height: 100vh; */
}